/* 메인페이지에 전반적으로 적용할 flex - row */
.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100dvw;
    height: 100dvh;

}

/* logo에 적용 */
.logo {
    position: relative;
    width: 50%;
    height: 50%;
    margin: auto;
}

/* 메인 페이지를 좌 우로 반반 나누기 위함. (로고, 로그인 하실래요? 창) */
.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 우측 컴포넌트 CSS */
.right h1 {
    font-weight: bold;
    font-size: 64px;
    margin: 48px 0;
}

.right h2 {
    font-weight: bold;
    font-size: 31px;
    margin-bottom: 32px;
}

.right h3 {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 40px;
}

/* 버튼 역할을 하는 것들 CSS */
.signup {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 0 16px;
    font-size: 15px;
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup:hover {
    background-color: rgb(26, 140, 216);
}
.login {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 0 16px;
    font-size: 15px;
    color: rgb(29, 155, 240);
    border: 1px solid rgb(207, 217, 222);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login:hover {
    background-color: rgba(29,155,240,0.1);
}